.carrito{
    width: 30px;
    background-color: transparent;
    border: none;
    margin-right:40px ;
    display: inline-flex;
    height: 20px;
  }
  .BotonCount{
    display: flex;
    margin-bottom: 20px;
  }
  .Contador{
    display: flex;
    justify-content: center;
    margin-top: 5px;
 
    height: 30px;
  }
  .btn_carrito{
    background-color: rgba(7, 77, 7, 0.664);
    border: none;
    border-radius: 3px;
    margin: 20px;
    padding: 10px;
  }
.Contador button{
    border-radius: 50%;
    width: 30px;
    background-color: transparent;
    border: 1px solid rgb(0, 0, 0);
    color: rgb(0, 0, 0);
}
.Contador button:hover{
    background-color:rgba(6, 5, 85, 0.315) ;
    color: white;
    border:1px solid rgb(0, 195, 255);
}
@media (max-width: 600px){
  .btn_carrito{
    max-width: 100px;
  }
}